* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
    line-height: 1.4;
}

header {
    display: flex;
    background-color: #BE3144;
    height: 10vh;
    width: 100%;
     align-items: center;
     justify-content: flex-end;
     position: fixed;
}

nav ul li {
list-style: none;
margin: 0px 0px;
box-sizing: border-box;
color: #FFF;
}

.nav-links {
display: flex;

}
.nav-link {
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    text-decoration: none;
    font-weight: 600;
    color: #FFF;
    font-size: 1.65rem;
    padding: 32px;
}

.nav-link:hover  {
    background-color: #45567D;
}

.primary {
    display: flex;
    background:  linear-gradient(to right, #37393C , #1D1C1E);
    height: 90vh;
    color: #FFF;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.primary h1 {
    font-size: 4rem;
}
.primary .under {
    color: #88303D;
    font-size: 2rem;
    font-style: italic;
    font-weight: 100;
}
.presentation {
    padding: 60px 0px;
    background: #45567D;

}
.text-center {
    /* display: flex; */
    text-align: center;
}
.text-huge {
    color: #FFF;
    font-weight: 6OO;
    font-size: 2.5rem;

}
hr {
    width: 50%;
    margin: auto;
}
.img-fluid {
    width: 400px;
    height: 65vh;
}
.container {
    width: 100%;
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 2rem;

  
}
.link {
    text-align: center;
    text-decoration: none;
    /* background-color: #303841; */
    /* max-width: 400px; */
    width: 405px;
    border: 1px solid red;
}
.button {
display: flex;
align-items: center;
justify-content: center;
/* background-color: red; */
height: 7vh;

}
.wi {
    font-weight: 800;
}
button {
    text-align: center;
font-weight: 800;
font-size: 4vh;
    width: 190px;
    height: 7vh;
}
button:hover {
    background-color: red;
}
.description-img {
    /* display: flex;
    align-items: center; */
    text-align: center;
    height: 5vh;
    width:352px;
}